In [17]:
import pyodbc
import pandas as pd

In [18]:
print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [22]:
dados_conexao = ('Driver={ODBC Driver 17 for SQL Server};'
                'Server=LOCALHOST;'
                'Database=PizzaSENAI;'
                'Trusted_Connection=yes;')
conexao = pyodbc.connect(dados_conexao)

In [26]:
conexao = pyodbc.connect(dados_conexao)
cursor = conexao.cursor()

In [27]:
consulta = """
SELECT PE.PEDIDO_ID, PE.CLIENTE_ID, CL.NOME, CL.ENDERECO, CL.BAIRRO, CL.CIDADE, PE.DATA_PEDIDO, PE.VALOR FROM PEDIDO AS PE INNER JOIN CLIENTE AS CL ON PE.CLIENTE_ID = CL.CLIENTE_ID WHERE PE.DATA_PEDIDO >= '18/12/2023' AND PE.DATA_PEDIDO <= '20/12/2023'
"""

In [28]:
cursor.execute(consulta)

for linha in cursor.fetchall():
    print(linha)

cursor.close()
conexao.close()

(5, 2, 'Maria Oliveira', 'Avenida Atlântica', 'Copacabana', 'Rio de Janeiro', datetime.date(2023, 12, 18), Decimal('45.0000'))
(6, 3, 'Pedro Souza', 'Rua Afonso Pena', 'Centro', 'Belo Horizonte', datetime.date(2023, 12, 18), Decimal('44.0000'))
(7, 4, 'Ana Beatriz Ramos', 'Travessa Oliveira', 'Água Verde', 'Curitiba', datetime.date(2023, 12, 19), Decimal('72.0000'))
(8, 6, 'Carla Mendes Ferreira', 'Rua do Sol', 'Meireles', 'Fortaleza', datetime.date(2023, 12, 19), Decimal('34.0000'))